.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2px;
    margin-top: 68px;
    &__item {
        color: #a4bfba;
        &--active {
            color: #273650;
            position: relative;
            &:after {
                content: '';
                display: block;
                width: 80%;
                background: red;
                position: absolute;
                height: 1px;
                background: #273650;
            }
        }
    }
}